.header-container {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  height: 83px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1050px;
  margin: 0 auto;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
  color: #333;
}

.logo span {
  color: #a94442;
  font-size: 14px;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu ul li {
  position: relative;
  margin-right: 20px;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #454343c2;
  font-size: 16px;
}

.dropdown:hover > a {
  color: #c76d09;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px 0;
  display: none;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 5px 20px;
  width: 200px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.dropdown-menu li a:hover {
  color: #c76d09;
}

.search-icon {
  cursor: pointer;
  font-size: 14px;
  color: #333;
  margin-left: 5px;
  transition: transform 0.2s ease;
}

.search-icon:hover {
  transform: scale(1.1);
}

.search-container {
  position: relative;
}

.search-bar {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  padding: 0px;
  background-color: #fff;
  z-index: 1000;
  width: 407px;
  justify-content: end;
}

.search-bar form {
  display: flex;
  align-items: center;
  max-width: 500px;
}

.search-bar input {
  flex: 1;
  padding: 8px 10px;
  border: 1px solid #c76d09;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 16px;
}

.search-bar input::placeholder {
  color: #aaa;
}

.search-bar button {
  width: 40px;
  height: 37px;
  background-color: #c76d09;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar button svg {
  font-size: 14px;
  color: #fff;
}

.search-bar input:focus {
  border-color: #f39c12;
}

.search-bar button:hover {
  background-color: #f39c12;
}

.abc {
  width: 500px;
}


.dropdown-icon {
  font-size: 8px;
  margin-left: 5px; 
}
